\# filter=lfs diff=lfs merge=lfs -text
* text=auto
files filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
example filter=lfs diff=lfs merge=lfs -text
for filter=lfs diff=lfs merge=lfs -text
Photoshop filter=lfs diff=lfs merge=lfs -text
